#teste{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}

.inputs{
    color: brown;
    height: 50px;
    width: 1000px;
    border-radius: 20px;
    text-align: center;
}

body{
    background-image: url("g0061qza30w41.jpg");
    background-size: cover;
}

#botao{
    width: 500px;
    height: 50px;
    border-radius: 20px;
    color: brown;
}